<div class="container" style="padding: 16px;">
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard.cols" [rowspan]="( cardLayout | async )?.miniCard.rows">
      <mat-card class="mat-elevation-z5">
        <mat-card-title>Temperature</mat-card-title>
        <app-temperature [temp]="temp" [windChill]="windChill"></app-temperature>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard.cols" [rowspan]="( cardLayout | async )?.miniCard.rows">
      <mat-card class="mat-elevation-z5">
        <mat-card-title>Heat Index</mat-card-title>
        <app-heat-index [heatIndex]="heatIndex"></app-heat-index>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard.cols" [rowspan]="( cardLayout | async )?.miniCard.rows">
      <mat-card class="mat-elevation-z5">
        <mat-card-title>Dew Point</mat-card-title>
        <app-dew-point [dewPoint]="dewPoint"></app-dew-point>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <mat-card class="mat-elevation-z5">
        <app-forecast [forecast]="forecastData"></app-forecast>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <mat-card class="mat-elevation-z5">
        <app-pressure></app-pressure>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard.cols" [rowspan]="( cardLayout | async )?.miniCard.rows">
      <mat-card class="mat-elevation-z5">
        <mat-card-title>Wind Speed & Direction</mat-card-title>
        <app-wind-rose [direction]="windDirection"></app-wind-rose>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard.cols" [rowspan]="( cardLayout | async )?.miniCard.rows">
      <mat-card class="mat-elevation-z5">
        <mat-card-title>Total Daily Rain</mat-card-title>
        <app-total-daily-rain [rain]="dailyRain"></app-total-daily-rain >
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>