.container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 100%;
}

.rounded {
  width: 64px;
  height: 64px;
  background-color: #673AB7;
  border-radius: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.icon {
  color: white;
  font-size: 24pt;
}

.temp {
  display: flex;
  flex-direction: column;
}

.temp h1 {
  color: white;
}

.temp p {
  color: white;
}