<div class="container">
  <div class="rounded">
    <i class="wi wi-wind towards-{{dir}}-deg icon"></i>
    <div [ngSwitch]="direction">
      <!-- <div *ngSwitchCase="0">
        <i class="wi wi-wind wi-towards-n icon"></i>
      </div>
      <div *ngSwitchCase="1">
        <i class="wi wi-wind wi-towards-nne icon"></i>
      </div>
      <div *ngSwitchCase="2">
        <i class="wi wi-wind wi-towards-ne icon"></i>
      </div>
      <div *ngSwitchCase="3">
        <i class="wi wi-wind wi-towards-ene icon"></i>
      </div>
      <div *ngSwitchCase="4">
        <i class="wi wi-wind wi-towards-e icon"></i>
      </div>
      <div *ngSwitchCase="5">
        <i class="wi wi-wind wi-towards-ese icon"></i>
      </div>
      <div *ngSwitchCase="6">
        <i class="wi wi-wind wi-towards-se icon"></i>
      </div>
      <div *ngSwitchCase="7">
        <i class="wi wi-wind wi-towards-sse icon"></i>
      </div>
      <div *ngSwitchCase="8">
        <i class="wi wi-wind wi-towards-s icon"></i>
      </div>
      <div *ngSwitchCase="9">
        <i class="wi wi-wind wi-towards-ssw icon"></i>
      </div>
      <div *ngSwitchCase="10">
        <i class="wi wi-wind wi-towards-sw icon"></i>
      </div>
      <div *ngSwitchCase="11">
        <i class="wi wi-wind wi-towards-wsw icon"></i>
      </div>
      <div *ngSwitchCase="12">
        <i class="wi wi-wind wi-towards-w icon"></i>
      </div>
      <div *ngSwitchCase="13">
        <i class="wi wi-wind wi-towards-wnw icon"></i>
      </div>
      <div *ngSwitchCase="14">
        <i class="wi wi-wind wi-towards-nw icon"></i>
      </div>
      <div *ngSwitchCase="15">
        <i class="wi wi-wind wi-towards-nnw icon"></i>
      </div>
      <div *ngSwitchCase="16">
        <i class="wi wi-wind wi-towards-n icon"></i>
      </div> -->
      <!-- <div *ngSwitchDefault>
        <i class="wi wi-wind wi-towards-n icon"></i>
      </div> -->
    </div>
  </div>
  <div class="temp">
    <h1 style="margin-bottom: 0; font-size: x-large; font-weight: bold;">{{speed}} mph</h1>
  </div>
</div>